@import "tailwindcss";
@tailwind utilities;

@layer base {

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    scroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
  
  body {
    @apply bg-[#050505] text-white overflow-x-hidden;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-2xl;
  }
  
  .section-container {
    @apply max-w-7xl mx-auto px-6 py-20;
  }
}